#weather-wrapper {
    color: #ffffff;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.5);;
    margin: 10px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    border: 2px solid #ffffff;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/b0432f90703361.5e1e4511a2eb1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
h1 {
    color: #ffffff;
    font-size: 80px;
}
#submit {
    border: 0;
    font-size: 18px;
    height: 40px;
    width: 90px;
    border-radius: 30px;
    color: #4d4949;
}
#search {
    border: 0;
    border-radius: 30px;
    height: 60px;
    width: 50%;
    font-size: 18px;
    padding-left: 20px;
}
.city {
    font-size: 50px;
}
.temperature {
    font-size: 35px;
    margin-top: 0;
}
.details {
    display: flex; 
    justify-content: space-between; 
}
.cols {
    display: flex;
    align-items: center;
}

.cols img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
footer {
    color: #ffffff;
}